.you__may-like{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // justify-content: space-around;
    // align-items: flex-start;
    // flex-wrap: wrap;
    // justify-self: center;
    // align-self: center;
    place-items: center;
    justify-content: center;
    margin: 0 1rem;
    padding: 0 5rem;
    gap: 1rem ;

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(154px, auto));
        gap: 10px 20px;

        padding: 0;
        
    }
}
.heading{
    font-size: 2rem;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    margin:  1rem;
    padding: 0 5rem;
    line-height: 25px;
    text-align: start;

    @media screen and (max-width: 768px){
        font-size: 1.3rem;
        padding: 0 20px;
    }
        
    
}
.section__product{
    display: grid;
    align-self: center;
    justify-self: center;

        img{
            width: 100%;
            height: 100%;
            object-fit: fill;    
    
        }
    



    h2{
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;
        font-family: 'PT Serif';
        
        @media screen and (max-width: 450px) {
            padding: 0;
            margin: 8px 0;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;

        }
    }
    
    p{
        font-family: 'Lato';
        padding: 2px 0;
        font-size: 1rem;
        text-align: left;
        line-height: 1rem;
    }

    @media screen and (max-width: 700px) {
      width: 160px;
      h2{
          font-size: 0.8rem;
      }
        p{
            padding: 0;
            margin: 0;
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
        }
    }
        
    
}